.count1 div {
  border: 10px solid silver;
  width: 250px;
  background-color: darkblue;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  height: 100px;
  margin: 10px;
  color: white;
  text-align: center;
  margin: 20px;
  margin-top: -200px;
  transition: transform 1s;
}
.count1 div:hover {
  background-color: aliceblue;
  color: black;
  transform: translateX(-10px);
  border: 10px solid darkblue;
}
@media screen and (min-width: 400px) and (max-width: 779px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
