<div class="choose-cont">
    <div class=" why"><h1>Why Choose US</h1></div>
<div class="ll">
    <ul>
        <li><i class="fa-solid fa-tv pr-3"></i>Expertise in Web Development</li>
        <li><i class="fa-brands fa-creative-commons-sampling-plus pr-3"></i>Creative Design Solutions</li>
        <li><i class="fa-brands fa-intercom pr-3"></i>Customized Approach</li>
        <li><i class="fa-regular fa-calendar pr-3"></i>User-Centric Focus</li>
        <li> <i class="fa-solid fa-user pr-3"></i>Responsive Design</li>
        <li><i class="fa-solid fa-timeline pr-3"></i>Timely Delivery</li>
        <li><i class="fa-brands fa-searchengin pr-3"></i>SEO Optimization</li>
        <li><i class="fa-regular fa-handshake pr-3"></i>Post-Launch Support</li>

    </ul>
</div>

</div>
