.choose-cont {
  margin-top: 290px;
  width: 100vw;
  height: 100vh;
}
.why {
  width: 90%;
  color: white;
  background-color: darkblue;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  margin-top: -90px;
  border-radius: 10px;
}
@media screen and (min-width: 400px) and (max-width: 778px) {
  .why {
    margin: auto;
    margin-top: 50px;
  }
}
.ll li {
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  color: darkblue;
}
.ll {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
