<div class="head-container">
  <nav>
    <ul>
      <li>
        <i class="fa-solid fa-message"></i>
        <a href="Teamhr@nssoftwaretechnologies.com"
          >Teamhrnssoftwaretechnologies.com</a
        >
        <span class="pp">|</span>
      </li>

      <li>
        <i class="fa-brands fa-internet-explorer"></i>
        <a
          href="www.nssoftwaretechnologies.in
        "
          >www.nssoftwaretechnologies.in
        </a>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <a href="9505226910"> 9505226910 </a>
      </li>
    </ul>
  </nav>
</div>
