<div class="tech-cont">
  <div class="tech-cont1">
    <h1 class="tech-head1">
      We Are Increasing Business Success With Technology
    </h1>
    <p class="tech-para">
      <span class="mm">Ns Software Technologies</span> Is Best IT Solution With
      Last 7 Years,We Design Best Websites As Well As Provide Digital Marketing.
      We are Project Development persons and are the sole developers Our core
      competencies are in developing Web App, Logo designing, Graphic designing,
      testing product using latest technologies.
    </p>
  </div>
  <div class="tech-cont3">
    <h2 class="tech-head3">SEO Optimization</h2>
    <div class="ooo">
      <h4>SEO</h4>
    </div>
    <h2 class="tech-head3">Web Design</h2>
    <div class="ooo1">
      <h4>Web Design</h4>
    </div>
    <h2 class="tech-head3">Web Development</h2>
    <div class="ooo2">
      <h4>Web Development</h4>
    </div>
    <h2 class="tech-head3">Cyber Security</h2>
    <div class="ooo3">
      <h4>Cyber Security</h4>
    </div>
    <h2 class="tech-head3">Data Analytics</h2>
    <div class="ooo4">
      <h4>Data Analytics</h4>
    </div>
  </div>
</div>
