.mm {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
}
.tech-cont {
  width: 100vw;
  height: 120vh;
  margin-top: 50px;
  background-color: whitesmoke;
  display: flex;
  margin-top: 90px;
  flex-direction: column;
}
.tech-cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tech-head1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #223a66;
}
.tech-para {
  text-align: center;
  width: 98vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  margin-top: 10px;
  color: grey;
}
.tech-cont3 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 60px;
}
.tech-head3 {
  margin-left: 20px;
}
.ooo {
  width: 98%;
  background-color: gray;
  height: 8%;
  margin-left: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ooo1 {
  width: 98%;
  background-color: gray;
  height: 8%;
  margin-left: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ooo2 {
  width: 90%;
  background-color: gray;
  height: 8%;
  margin-left: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ooo3 {
  width: 90%;
  background-color: gray;
  height: 8%;
  margin-left: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ooo4 {
  width: 80%;
  background-color: gray;
  height: 8%;
  margin-left: 20px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
h4 {
  background-color: #223a66;
  width: 94%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  margin-top: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
