<div class="service-cont">
  <div class="Service-cont1">
    <h3 class="service-head">Services</h3>
    <h1 class="service-head1">
      We Are Offering All Kinds of IT Solutions Services
    </h1>
  </div>
  <div class="service-cont2">
    <div class="items">
      <i class="fa-solid fa-laptop-code"></i>
      <h2>Web Development</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>

    <div class="items">
      <i class="fa-solid fa-magnifying-glass-minus"></i>
      <h2>SEO Optimization</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>
    <div class="items">
      <i class="fa-solid fa-laptop"></i>
      <h2>Web Design</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>
    <div class="items">
      <i class="fa-brands fa-app-store-ios"></i>
      <h2>App Development</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>
    <div class="items">
      <i class="fa-solid fa-lock"></i>
      <h2>Cyber Security</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>
    <div class="items">
    <i class="fa-solid fa-database"></i>
      <h2>Cyber Security</h2>
      <p>
        Ensure a seamless user experience across devices. Our responsive design
        approach guarantees that your website looks and functions flawlessly on
        desktops, tablets, and smartphones.
      </p>
    </div>
  </div>
</div>
